
@{
    ViewBag.Title = "Delete";
}

@foreach (var item in ViewBag.delete)
{
    <h2>Delete</h2>
    <h3>Are You Sure Want To Delete This Data?</h3>
    <p>UserName     : @item.UserName</p>
    <p>Email        : @item.Email</p>
    <p>Password     : @item.PasswordHash</p>


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@item.Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-md" />
            @(Html.ActionLink("Back To List", "index", new { id = 1 }, new { @class = "btn btn-primary btn-md" }))
        </div>
    }
}


